<%- include('../../partials/siteHeader')  %>
<div class="container">
  <div class="row my-3">
    <div class="col-md-6 offset-md-3">
      <div class="card card-body">
        <form action="/auth/forget-password" method="POST" id="myForm">
          <h2 class="mb-3">Forget Password</h2>

          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control"
              placeholder="Enter password">
          </div>

          <div class="text-right">
            <input type="submit" value="change" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('../../partials/siteFooter') %>

</body>

</html>