<%- include('../partials/siteHeader.ejs') %>

<div class="container">
  <div class="jumbotron">
    <h2>Lorem ipsum dolor sit amet.</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nam atque iure quis dicta hic. Hic vel illo
      tenetur praesentium eaque iusto? Aliquid dicta, consequatur ipsa expedita ea cupiditate iusto!</p>
  </div>
</div>

<%- include('../partials/siteFooter.ejs') %>
</body>

</html>